.chart-wrapper, canvas {
  margin: auto;
  max-width: 1250px;
}

.chart-wrapper {
  margin-top: 50px;
}

.btns-wrapper {
  display: flex;
  margin-top: 20px;
  position: relative;
  margin-bottom: 30px;
}

.input-wrapper {
  margin: auto;
  margin-top: 30px;
  width: 500px;
}
.input-label{
  color: grey;
  font-size: 20px;
  font-weight: 700;
}