.logo{
  color:rgba(255, 56, 96, 1);
  font-size: 27px !important;
  font-weight: 800;
}
.nav-link{
  color: rgba(255, 56, 96, 1) !important;
}
.navbar-toggler, .navbar-toggler-icon{
  color-adjust: rgba(255, 56, 96, 1) !important;
}

.hero-section{
  height: 30vh;
  background-color: rgba(255, 56, 96, 1);
  top: -300px !important;
  z-index: -2 ;
}

.table-section{
  position: relative;
  top: -100px !important;
}

.load-more{
  margin-top: 20px;
  text-align: center;
}
.load-more-btn {
  background-color: purple !important;
  border-radius: 30px;
}
.tb-option{
  font-size: 13px; font-weight: 400; padding: 1rem;
}
.th-option{
  font-size: 13px; font-weight: 400; padding: 1rem;
}

.chart-section{
  margin-top: 40px !important;
}
.react-chart{
  width: 70%;
  margin: auto;
  margin-top: 80px;
}
.loader{
  justify-content: center !important;
  text-align: center;
  margin-top: 20px;
}